<!--THIS IS A REACTIVE FORM-->

<form [formGroup]='registerForm' (ngSubmit)="registerForm.valid && register()" autocomplete="off"> <!--Adding (ngSubmit)="registerForm.valid && register()" means that the register method will only be enabled if the form is valid-->
    <!--#registerForm="ngForm" marjks this is as an angular form -->
    <h2 class="text-center text-primary">Sign Up</h2>
    <hr>
    <div class="form-group">
        <!--This will be our radio button for the gender-->
        <label class="control-label" style="margin-right: 10px;">I am a: </label>
        <label class="radio-inline">
            <input type="radio" value='male' formControlName='gender'> Male
        </label>
        <label class="radio-inline">
            <input type="radio" value='female' formControlName='gender' class="ml-3"> Female
        </label>
    </div>
    <app-text-input [formControl]='registerForm.controls["username"]' [label]='"Username"'></app-text-input>
    <!--Here we can use the text input validation component to save us having to write all the form controls below-->
    <app-text-input [formControl]='registerForm.controls["knownAs"]' [label]='"Known as"'></app-text-input>
    <app-date-input [formControl]='registerForm.controls["dateOfBirth"]' [label]='"Date of birth"' [maxDate]='maxDate'></app-date-input>
    <!--for the date picker, we use the bootstrap module which we add to our shared.module file. We also create our own date picker component in our _forms folder-->
    <app-text-input [formControl]='registerForm.controls["city"]' [label]='"City"'></app-text-input>
    <app-text-input [formControl]='registerForm.controls["country"]' [label]='"Country"'></app-text-input>
    <app-text-input [formControl]='registerForm.controls["password"]' [label]='"Password"' [type]='"password"'>
    </app-text-input>
    <app-text-input [formControl]='registerForm.controls["confirmPassword"]' [label]='"Confirm Password"'
        [type]='"password"'></app-text-input>
        <div class="row" *ngIf="validationErrors.length > 0">
            <ul class="text-danger">
                <li *ngFor="let error of validationErrors">
                    {{ error }}
                </li>
            </ul>
        </div>

    <!--<div class="form-group"> Using the [class.is-invalid]='registerForm.get("username")' here means that if the form is invalid (if there are errors on the formcontrol that we 'get' and the field has been touched), the class is-invalid will be applied to the element
    <input
      [class.is-invalid]='registerForm.get("username").errors && registerForm.get("username").touched'
      type="text"
      class="form-control"
      formControlName='username'
      placeholder="Username"> anytime we use the NgModel, we have to give the input element a name. Using [(ngModel)]="model.username" binds to the empty model object in our .ts file and creates a new property called username. Whatever the user enters into the input field here will automatically be saved in the username property 
      <div class="div invalid-feedback">Please enter a username</div> This 'invalid-feedback' bootstrap class will only show the element if the input element within this particular form group is invalid   
</div> -->

    <!--
<div class="form-group">
    <input
    [class.is-invalid]='registerForm.get("password").errors && registerForm.get("password").touched'
      type="password"
      class="form-control"
      formControlName='password'
      placeholder="Confirm Password"> -->
    <!--anytime we use the NgModel, we have to give the input element a name. Using [(ngModel)]="model.password" binds to the empty model object in our .ts file and creates a new property called password. Whatever the user enters into the input field here will automatically be saved in the username property  -->
    <!--<div *ngIf="registerForm.get('password').hasError('required')" class="div invalid-feedback">Please enter a password</div>
      <div *ngIf="registerForm.get('password').hasError('minlength')" class="div invalid-feedback">Password mut be at least 4 characters</div> <!--We don't use camel case for the min length or max length-->
    <!--<div *ngIf="registerForm.get('password').hasError('maxlength')" class="div invalid-feedback">Password mut be a maximum of 8 characters</div>
</div>
<div class="form-group">
    <input
    [class.is-invalid]='registerForm.get("confirmPassword").errors && registerForm.get("confirmPassword").touched'
      type="password"
      class="form-control"
      formControlName='confirmPassword'
      placeholder="Password">
      <div *ngIf="registerForm.get('confirmPassword').hasError('required')" class="div invalid-feedback">Please enter a confirm password</div>
      <div *ngIf="registerForm.get('confirmPassword').hasError('notMatching')" class="div invalid-feedback">Password must be matching</div> We don't use camel case for the min length or max length
</div> -->
    <div class="form-group text-center">
        <button [disabled]='!registerForm.valid' class="btn btn-success mr-2" type="submit">Register</button>
        <button class="btn btn-default mr-2" (click)="cancel()" type="button">Cancel</button>
    </div>
</form>
