<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink='/' routerLinkActive='active'>Dating App</a>
            <ul class="navbar-nav mr-auto mb-2 mb-md-0"> 
                <ng-container  *ngIf="accountService.currentUser$ | async"> <!--The ng container doesn't actually generate any html. It is an angular container it's a very useful thing to do when we want to apply a conditional to something as it doesn't affect the styling as it doesn't affect the html. -->
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive='active' routerLink='/members'>Matches</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive='active' routerLink='/lists'>Lists</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive='active' routerLink="/messages">Messages</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive='active' routerLink="/admin">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" (click)="logout()">logout</a>
                    </li>
                </ng-container>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive='active' routerLink="/errors">Errors</a>
                </li>
            </ul>

            <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>  <!--adding the 'as user' here allows us to use the 'user' property in this template -->
                <img src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.username}}">
                <a class="dropdown-toggle text-light ml-2" dropdownToggle>Welcome {{user.knownAs | titlecase}}</a>    
                <div class="dropdown-menu mt-3" *dropdownMenu>
                    <a class="dropdown-item" routerLink="member/edit">Edit Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
            </div>
            <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off"><!--to check to see if the user is not logged in with the async pipe, we have to wrap it in parenthesis and check if it is equal to null-->
                <input
                  name="username"
                  [(ngModel)]="model.username" 
                  class="form-control mr-2"
                  type="search"
                  placeholder="Username">
                <input
                  name="password"
                  [(ngModel)]="model.password"
                  class="form-control mr-2"
                  type="password"
                  placeholder="Password">
                <button class="btn btn-success" type="submit">Login</button> 
            </form>
        </div>
    </div>
</nav>

